/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #6a8097;
}

/*============= TOP BAR HEADER =============*/

.top-bar {
  background: #082d8ce5;
  height: 2.8rem;
  padding: .5rem 0;
}
.top-bar a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.1rem;
}

/*============= NAVIGATION =============*/

.navbar-brand img {
  height: 3rem;
}
.navbar h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #082d8ce5;
  text-align: center;
  margin: .5rem 0;
}
.navbar {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
  z-index: 1;
}
.nav-item {
  padding: .5rem;
}
.nav-link {
  color: #5b5555!important;
}
.nav-link.active,
.nav-link:hover {
  color: #082d8ce5!important;
}
/*============= CAROUSEL =============*/



/*---Change Carousel Transition Speed --*/


/*-- Carousel Content --*/





/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
}


/*-- Emoji Navbar --*/



/*============= FOOTER =============*/
footer {
  background: #082d8ce5;
  padding: 1rem 2rem 3rem;
}
footer img {
  height: 4rem;
  margin: 1.5rem auto;
}
footer p, footer a,
.socket a {
  color: #ffff;
  text-decoration: none;
}
ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social li {
  margin: 0 auto;
}
footer .svg-inline--fa {
  font-size: 2.3rem;
}
footer .svg-inline--fa:hover  {
  color: #fa0505;
}

/*============= SOCKET =============*/
.socket {
  background: #222222;
  border-top: .1rem solid #ffffff;
}


/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}